<table width="600" border="0" cellspacing="0" cellpadding="0" class="m-shell">
	<tr>
		<td class="td"
			style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="mpx-10">
						<!-- Top -->

						<!-- Container -->
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="gradient pt-10" style="border-radius: 10px 10px 0 0; padding-top: 10px;"
									bgcolor="#F3F5F9">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td style="border-radius: 10px 10px 0 0;" bgcolor="#ffffff">
												<!-- Logo -->

												<!-- Logo -->

												<!-- Main -->
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="px-50 mpx-15"
															style="padding-left: 50px; padding-right: 50px;">

															<!-- Section - Your Host -->

															<table width="100%" border="0" cellspacing="0"
																cellpadding="0">
																<!-- {% for item in items %} -->
																<tr>
																	<td class="pb-50" style="padding-bottom: 50px; padding-top
																							
																							: 50px;">
																		<table width="100%" border="0" cellspacing="0"
																			cellpadding="0">
																			<tr>
																				<td class="title-26 a-center pb-35"
																					style="font-size:26px; line-height:30px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:center; padding-bottom: 35px;">
																					<strong>{{
																						item.name
																						}}</strong>
																				</td>
																			</tr>
																			<tr>
																				<td class="pt-30"
																					style="padding-top: 30px;">
																					<table width="100%" border="0"
																						cellspacing="0" cellpadding="0">
																						<tr>
																							<td class="py-35 px-50 mpx-15"
																								style="border-radius: 10px; padding-top: 35px; padding-bottom: 35px; padding-left: 50px; padding-right: 50px;"
																								bgcolor="#F3F5F9">
																								<table width="100%"
																									border="0"
																									cellspacing="0"
																									cellpadding="0">
																									<tr>
																										<td>
																											<table
																												width="100%"
																												border="0"
																												cellspacing="0"
																												cellpadding="0"
																												style="margin-top: -90px;">
																												<tr>
																													<td class="img-center pb-20"
																														style="font-size:0pt; line-height:0pt; text-align:center; padding-bottom: 20px;">
																														<img src="{{ item.image }}"
																															width="110"
																															height="110"
																															border="0"
																															alt="" />
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																									<tr>
																										<td class="title-24 a-center c-purple pb-5"
																											style="font-size:24px; line-height:28px; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:center; color:#0575E6; padding-bottom: 5px;">
																											<strong>{{
																												item.title
																												}}</strong>
																										</td>
																									</tr>
																									<tr>
																										<td class="text-16 a-center c-purple pb-15"
																											style="font-size:16px; line-height:20px; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:center; color:#0575E6; padding-bottom: 15px;">
																											<em>{{
																												item.subtitle
																												}}</em>
																										</td>
																									</tr>
																									<tr>
																										<td class="text-16 lh-26 a-center c-black"
																											style="font-size:16px; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; text-align:center; color:#282828;">
																											{{
																											item.description
																											}}
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
																<!-- {% endfor %} -->
															</table>
															<!-- Section - Separator Line -->
															<table width="100%" border="0" cellspacing="0"
																cellpadding="0">
																<tr>
																	<td class="pb-50" style="padding-bottom: 50px;">
																		<table width="100%" border="0" cellspacing="0"
																			cellpadding="0">
																			<tr>
																				<td class="img" height="1"
																					bgcolor="#ebebeb"
																					style="font-size:0pt; line-height:0pt; text-align:left;">
																					&nbsp;</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
															<!-- END Section - Separator Line -->

															<!-- Section - Bullets -->



															<table width="100%" border="0" cellspacing="0"
																cellpadding="0">
																<!-- {% for item in data %} -->

																<tr>
																	<td class="title-26 a-center pb-35"
																		style="font-size:26px; line-height:30px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:center; padding-bottom: 35px;">
																		<strong>Know
																			More About
																			Our
																			Product</strong>
																	</td>
																</tr>
																<tr>
																	<td class="pb-35" style="padding-bottom: 35px;">
																		<table width="100%" border="0" cellspacing="0"
																			cellpadding="0">
																			<tr>
																				<td valign="top" class="img-center"
																					width="15"
																					style="font-size:0pt; line-height:0pt; text-align:center;">
																					<img src="../images/ico_bullet.png"
																						width="15" height="14"
																						border="0" alt="" />
																				</td>
																				<td valign="top" class="img mw-15"
																					width="20"
																					style="font-size:0pt; line-height:0pt; text-align:left;">
																				</td>
																				<td valign="top">
																					<table width="100%" border="0"
																						cellspacing="0" cellpadding="0">
																						<tr>
																							<td class="title-20 pb-5"
																								style="font-size:20px; line-height:24px; color:#282828; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important; padding-bottom: 5px;">
																								<strong>{{
																									item.title
																									}}</strong>
																							</td>
																						</tr>
																						<tr>
																							<td class="text-14 lh-24"
																								style="font-size:14px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; text-align:left; min-width:auto !important; line-height: 24px;">
																								{{
																								item.text
																								}}
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
																<!-- {% endfor %} -->
																<tr>
																	<td align="center" style="padding-bottom: 34px;">
																		<!-- Button -->
																		<table border="0" cellspacing="0"
																			cellpadding="0" style="min-width: 200px;">

																			<tr>
																				<td class="btn-16 c-white l-white"
																					bgcolor="#F3F5F9"
																					style="font-size:16px; line-height:20px; mso-padding-alt:15px 35px; font-family:'PT Sans', Arial, sans-serif; text-align:center; font-weight:bold; background: var(--gradient-15, linear-gradient(66deg, #0575E6 7.14%, #021B79 90.07%)) !important; text-transform:uppercase; border-radius:25px; min-width:auto !important; color:#ffffff;">
																					<a href="#" target="_blank"
																						class="link c-white"
																						style="display: block; padding: 15px 35px; text-decoration:none; color:#ffffff;">
																						<span class="link c-white"
																							style="text-decoration:none; color:#ffffff;">REGISTER
																							NOW</span>
																					</a>
																				</td>
																			</tr>
																		</table>
																		<!-- END Button -->
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
												<!-- END Section - Bullets -->
											</td>
										</tr>
									</table>
									<!-- END Main -->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- END Container -->

			<!-- Section - Separator Line -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
				<tr>
					<td class="pb-50" style="padding-bottom: 5px;  padding-left: 50px; padding-right: 50px;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="img" height="1" bgcolor="#ebebeb"
									style="font-size:0pt; line-height:0pt; text-align:left;">
									&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- END Section - Separator Line -->
		</td>
	</tr>
</table>